@*@model AceTuitionPaymentSystem.ViewModel.PaymentViewModel*@
@model AceTuitionPaymentSystem.ViewModel.ParentMake_PaymentViewModel


@*@model AceTuitionPaymentSystem.ViewModel.PaymentViewModel*@



@{ if ((string)Session["type"] == "admin")
    {
        if (Session["type"] == null)
        {
            Response.Redirect("~/Login/Index");
        }
    }
    else
    {

        Response.Redirect("~/Login/Index");
    } }


<link href="~/plugins/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/plugins/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<link href="~/plugins/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
<style>
    .main-sidebar {
        min-height: 100%;
    }
    .btn-sm {
        background: #233866;
        color: white;
    }

        .btn-sm:hover {
            background-color: #1f2d3d;
            color: white;
        }
    #loader {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background: rgba(0,0,0,0.75) no-repeat center center;
        z-index: 10000;
    }

    #loading-image {
        position: fixed;
        width: 40px;
        height: 40px;
        left: 50%;
        top: 50%;
        z-index: 100;
    }
</style>
<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">

                <img src="~/image/supervisor.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">

                    <span style='color: white'>@Session["name"]</span>
                    <br>
                    ACE Education
                </a>
            </div>
        </div>


        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                <!-- <li class="nav-item menu-open"> -->
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Home")" class="nav-link">
                        <i class="fa fa-tachometer"></i>&nbsp;&nbsp;
                        <p>
                            Dashboard
                            <!-- <i class="right fas fa-angle-left"></i> -->
                        </p>
                    </a>
                </li>

                <li class="nav-item menu-open">
                    <a href="#" class="nav-link">
                        <i class="fa fa-usd"></i>&nbsp;&nbsp;
                        <p>
                            Manage Payment
                            <i class="fa fa-chevron-left right "></i>
                            @if (TempData["count"].ToString() != "0")
                            {
                                <span class="badge badge-warning right">
                                    @TempData["count"]
                                </span>
                            }
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Outstanding")" class="nav-link active">
                                <i class="fa fa-spinner"></i>&nbsp;&nbsp;
                                <p>Outstanding</p>
                                @if (TempData["count"].ToString() != "0")
                                {
                                    <span class="badge badge-warning right">
                                        @TempData["count"]
                                    </span>
                                }
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Payment")" class="nav-link">
                                <i class="fa fa-check-square"></i>&nbsp;&nbsp;
                                <p>Payment List</p>
                            </a>
                        </li>



                    </ul>
                </li>


                <li class="nav-item">
                    <a href="@Url.Action("Index", "Child")" class="nav-link">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;&nbsp;
                        <p>
                            Students
                            @*<i class="fa fa-chevron-left right "></i>*@
                        </p>
                    </a>
                    @*<ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Child")" class="nav-link">
                                <i class="fa fa-child"></i>&nbsp;&nbsp;
                                <p>
                                    Active
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="@Url.Action("InactiveStudent", "Child")" class="nav-link">
                                <i class="fa fa-times-circle" aria-hidden="true"></i>&nbsp;&nbsp;
                                <p>Inactive</p>
                            </a>
                        </li>
                    </ul>*@
                </li>

                <li class="nav-item">
                    <a href="@Url.Action("Index", "Parents")" class="nav-link">
                        <i class="fa fa-users"></i>&nbsp;&nbsp;
                        <p>
                            Parents
                            @*<i class="fa fa-chevron-left right "></i>*@
                        </p>
                    </a>
                    <!--<ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Parents")" class="nav-link">
                                <i class="fa fa-user"></i>&nbsp;&nbsp;
                                <p>
                                    Active-->
                                    <!-- <i class="right fas fa-angle-left"></i> -->
                                <!--</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="@Url.Action("InactiveParent", "Parents")" class="nav-link">
                                <i class="fa fa-times-circle" aria-hidden="true"></i>&nbsp;&nbsp;
                                <p>Inactive</p>
                            </a>
                        </li>

                    </ul>-->
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-tag"></i>&nbsp;&nbsp;
                        <p>
                            Manage Servies
                            <i class="fa fa-chevron-left right active"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Package")" class="nav-link">
                                <i class="fa fa-folder"></i>&nbsp;&nbsp;
                                <p>Package</p>
                                @*<span class="badge badge-info right">
                            <?php echo $rowcp['n_count'];?>
                        </span>*@
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Subject")" class="nav-link">
                                <i class="fa fa-book"></i>&nbsp;&nbsp;
                                <p>Subject</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "earlypay")" class="nav-link ">
                                <i class="fa fa-pencil"></i>&nbsp;&nbsp;
                                <p>Early Payment</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "notice")" class="nav-link">
                        <i class="fa fa-bullhorn" aria-hidden="true"></i>&nbsp;&nbsp;
                        <p>
                            Notice
                            <!-- <i class="right fas fa-angle-left"></i> -->
                        </p>
                    </a>
                </li>

            </ul>
</nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Receive Payment</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        @*<li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>*@
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Outstanding")">Outstanding</a></li>
                        <li class="breadcrumb-item active">Receive Payment</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        <!-- Main content -->
        <br />
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header" style="background:#233866;color:white">
                                <h3 class="card-title">Student's Fee</h3>
                            </div>


                            <!-- /.card-header -->


                            @{ decimal totalpay = 0.00M;
                            }

                            @foreach (var item in Model.paymentList)
                            {
                                <div class="card-body">
                                    <div class="row">
                                        <div class="card-body">
                                            <div class="callout callout-info">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-horizontal">
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-md-4" style="text-align:left">
                                                                        <strong>Student Name: </strong>
                                                                        <br />
                                                                        <strong>Student IC: </strong>
                                                                        <br />
                                                                        <strong>Student Code: </strong>
                                                                        <br />
                                                                    </div>

                                                                    <div class="col-md-8">
                                                                        @item.child_name_eng &nbsp; @item.child_name_chinese
                                                                        <br />
                                                                        @item.child_ic
                                                                        <br />
                                                                        @item.child_code
                                                                        <br />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4" style="text-align:center">
                                                        <div class="form-group">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <strong>Parent Name: </strong>
                                                                    <br />
                                                                    <strong>Parent IC: </strong>
                                                                    <br />
                                                                </div>
                                                                <div class="col-md-8" style="text-align:left">
                                                                    @item.parent_name
                                                                    <br />
                                                                    @item.parent_ic
                                                                    <br />
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4" style="text-align:right">
                                                        <div class="form-group">
                                                            <div class="row">
                                                                <div class="col-md-8" style="text-align:right">
                                                                    <strong>Transportation Day: </strong>
                                                                    <br />
                                                                    <strong>Total Subject Taken: </strong>
                                                                    <br />
                                                                </div>
                                                                <div class="col-md-2" style="text-align:left">
                                                                    @item.child_trans_day
                                                                    <br />
                                                                    @item.child_num_subject
                                                                    <br />
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div>
                                                <div class="callout callout-info">

                                                    @*<div id="bot">*@

                                                    <div id="table">

                                                        @{ decimal total_package = 0.00M;}
                                                        <label><u>Package Taken</u></label>

                                                        @foreach (var package in item.receipt_packageList)
                                                        {
                                                            <div class="row">
                                                                <div class="col-md-9">
                                                                    @*<div class="row">*@
                                                                    <div>
                                                                        <p class="text-muted">
                                                                            @package.package_english_name &nbsp;  @package.package_chinese_name
                                                                        </p>
                                                                    </div>

                                                                </div>

                                                                <div class="col-md-3" style="text-align:right">
                                                                    <p class="text-muted">RM @package.value</p>
                                                                </div>
                                                            </div>
                                                            total_package += @package.value;
                                                            totalpay += @package.value;
                                                        }

                                                        <br />

                                                        @if (item.receipt_addonList.Count() > 0)
                                                        {
                                                            <div>
                                                                <label><u>Add-on Fee</u></label>

                                                                @foreach (var addon in item.receipt_addonList)
                                                                {
                                                                    <div class="row">
                                                                        <div class="col-md-9">
                                                                            @*<div class="row">*@
                                                                            <div>
                                                                                @*<div class="col-md-6">*@
                                                                                <p class="text-muted">
                                                                                    @addon.addon_english_name &nbsp; @addon.addon_chinese_name
                                                                                </p>
                                                                            </div>
                                                                            @*<div class="col-md-6" style="text-align:center">
                                                                            <p class="text-muted">
                                                                                @addon.addon_chinese_name
                                                                            </p>
                                                                        </div>*@
                                                                            @*</div>*@
                                                                        </div>
                                                                        <div class="col-md-3" style="text-align:right">
                                                                            <p class="text-muted">RM @addon.value</p>
                                                                        </div>
                                                                    </div>
                                                                    totalpay += @addon.value;
                                                                }

                                                            </div>
                                                        }

                                                        <br />

                                                        @if (item.receipt_discountList.Count() > 0)
                                                        {
                                                            <div>
                                                                <label><u>Discount</u></label>
                                                                @foreach (var discount in item.receipt_discountList)
                                                                {
                                                                    <div class="row">
                                                                        <div class="col-md-9">
                                                                            @*<div class="row">*@
                                                                            <div>
                                                                                <p class="text-muted">
                                                                                    @discount.discount_english_name &nbsp; @discount.discount_chinese_name
                                                                                </p>
                                                                            </div>
                                                                            @*<div class="col-md-6">
                                                                            <p class="text-muted" style="text-align:center">
                                                                                @discount.discount_chinese_name
                                                                            </p>
                                                                        </div>*@
                                                                            @*</div>*@
                                                                        </div>
                                                                        <div class="col-md-3" style="text-align:right">
                                                                            <p class="text-muted">-&nbsp; RM @discount.value</p>
                                                                        </div>
                                                                    </div>
                                                                    @*if (discount.discount_recursive == "true")
                                                                {
                                                                    <p style="color:grey;font-size:15px;">This discount will repeat every month.</p>
                                                                }*@
                                                                    totalpay = totalpay - @discount.value;
                                                                }

                                                            </div>

                                                        }
                                                        <hr />
                                                        @*dshhhh*@
                                                        <div class="row">
                                                            <div class="col-md-10">
                                                                <div class="row">
                                                                    <div class="col-md-12" style="text-align:right">

                                                                        <p class="text-muted">Total:&nbsp; </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2" style="text-align:right">
                                                                <p class="text-muted">

                                                                    RM @totalpay
                                                                </p>

                                                            </div>
                                                        </div>




                                                        @*dashshhsh*@
                                                        @{ string[] months = {"January", "February", "March", "April", "May",
                                                             "June", "July", "September", "October", "November", "December"};
                                                            DateTime now = DateTime.Now;
                                                            var month = months[now.Month - 1];
                                                        }


                                                        @if (@item.early_id != 6)
                                                        {

                                                            if (@item.early_id == 5)
                                                            {
                                                                foreach (var early in Model.earlyList)
                                                                {

                                                                    <div class="row">
                                                                        <div class="col-md-10">
                                                                            <div class="row">
                                                                                <div class="col-md-12" style="text-align:right">

                                                                                    <p class="text-muted">@early.early_english_name: </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-2" style="text-align:right">
                                                                            <p class="text-muted">

                                                                                -RM @early.early_value
                                                                            </p>

                                                                        </div>

                                                                        <br />
                                                                        @{totalpay -= @early.early_value;}

                                                                    </div>


                                                                }
                                                            }
                                                            else
                                                            {

                                                                foreach (var item2 in Model.paymentList)
                                                                {
                                                                    <div class="row">
                                                                        <div class="col-md-10">
                                                                            <div class="row">
                                                                                <div class="col-md-12" style="text-align:right">

                                                                                    <p class="text-muted">@item2.early_english_name: </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-2" style="text-align:right">
                                                                            <p class="text-muted">

                                                                                -RM @item2.early_value
                                                                            </p>

                                                                        </div>

                                                                        @{totalpay -= @item2.early_value;}
                                                                        @*totalpay -= @item2.early_value;*@

                                                                    </div>
                                                                }
                                                            }
                                                            @*otherss*@


                                                        }
                                                        @*dasshsh*@
                                                        @if (Model.accBalance.Count() > 0)
                                                        {
                                                            <div>
                                                                @foreach (var balance in Model.accBalance)
                                                                {
                                                                    <div class="row">
                                                                        <div class="col-md-10">
                                                                            <div class="row">
                                                                                <div class="col-md-12" style="text-align:right">

                                                                                    <p class="text-muted">Parent Account Balance: </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-2" style="text-align:right">
                                                                            <p class="text-muted">

                                                                                -RM @balance.balance_amount
                                                                            </p>

                                                                        </div>
                                                                    </div>
                                                                    totalpay -= @balance.balance_amount;
                                                                }
                                                            </div>
                                                        }

                                                        <div class="row">
                                                            <div class="col-md-10">
                                                                <div class="row">
                                                                    <div class="col-md-12" style="text-align:right">

                                                                        @*<p class="text-muted">Total Payable Amount: </p>*@
                                                                        <label>Total Payable Amount:</label>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2" style="text-align:right">

                                                                <strong style="color:red">RM @totalpay</strong>
                                                                @*<p class="text-muted">

                                                                -RM @balance.balance_amount
                                                            </p>*@

                                                            </div>
                                                        </div>






                                                        @*</div>*@<!--End Table-->
                                                        <!--</div>--><!--End InvoiceBot-->
                                                    </div>
                                                </div>

                                            </div>
                                            <!--end card inside -->

                                        </div>



                                    </div>


                                    <br />


                                </div>


                                @*</div>*@
                                <!-- /.card-body -->
                                @*</div>*@
                                <div class="card-footer">
                                    <button type="button" value="Back" name="backChild" class="btn btn-default" id="btnBackOutstanding">Back</button>
                                    &nbsp;&nbsp;
                                    <button type="button" class="btn btn-primary float-right" onclick="makePayment(@item.payment_id)">
                                        Pay
                                    </button>

                                </div>


                            }

                            <div class="modal fade" role="dialog" id="paymentModal" aria-labelledby="paymentModal" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content" id="PaymentmodalBody">
                                        
                                    </div>
                                </div>
                            </div>


                        </div>


                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <div id="loader" style="text-align:center">
                <img src="~/image/loading.gif" id="loading-image" />
            </div>
        </section>
    </div>
</div>




@section scripts{



    <script>
        var spinner = $('#loader');

        function makePayment(id) {
            $.get("/Outstanding/AddorEdit", { id: id }, function (res) {
                $("#PaymentmodalBody").html(res);
                $("#paymentModal").modal('show');
            })
        }


        function validatePayment() {
            if ($("#payment_date").val() == null || $.trim($("#payment_date").val()) == '') {
                toastr.options.closeButton = true;
                toastr.warning("Payemnt date is required to fill.", 'Warning');
                return;
            }

            if ($("#payment_amount").val() == null || $.trim($("#payment_amount").val()) == '') {
                toastr.options.closeButton = true;
                toastr.warning("Payment amount is required 12 digits.", 'Warning');
                return;
            }


            if ($("#payment-method").val() == null || $.trim($("#payment-method").val()) == '') {
                toastr.options.closeButton = true;
                toastr.warning("Parent Name is required to fill.", 'Warning');
                return;
            }

            

            return true;
        }

        $(document).ready(function () {
            $("#btnBackOutstanding").click(function () {
                window.location.href = '/Outstanding';
            })

            $("#payment-proof-div").hide();

            $("#payment-method").on('change', function () {
                if ($(this).val() == "cash") {
                    $("#payment-proof-div").hide();
                } else if ($(this).val() == "bank_transfer") {
                    $("#payment-proof-div").show();
                }
            })
        });

        function adminPayment() {
            spinner.show();
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const child = urlParams.get('child')
            const parent = urlParams.get('parent')
            const payment = urlParams.get('payment')

           

            var formData = new FormData();
            formData.append("child_ic", child);
            formData.append("parent_ic", parent);
            formData.append("payment_id", payment);
            formData.append("payment_date", $("#payment_date").val());
            formData.append("payment_amount", $("#payment_amount").val());

            if (!validatePayment()) {
                return;
            }

            //e.preventDefault();
           
            $.ajax({
                async: true,
                dataType: 'JSON',
                type: 'POST',
                contentType: false,
                processData: false,
                url: '/Outstanding/AdminPay',
                data: formData,
                success: function (data) {
                    if (data.Success) {
                        toastr.success("Done");
                        spinner.hide();
                        window.location.href = "/Outstanding";

                    }
                    else {
                        spinner.hide();
                        toastr.warning(data.Message);
                    }

                },
                error: function () {
                    spinner.hide();
                    toastr.error("There is some problem to load payment.")
                }
            })
        }

    </script>

}

